@model WebApplication1.Models.FFTeam

@{
    ViewBag.Title = @Model.FFLeague.FFLeagueName;
}

<h2>@Html.DisplayFor(model => model.TeamName)</h2>

    
@Model.TeamName

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FFLeague.FFLeagueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Win)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FPTotal)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.FFLeague.FFLeagueName)
        </td>
        <td>
            @Html.DisplayFor(model => model.TeamName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Win)
        </td>
        <td>
            @Html.DisplayFor(model => model.Lose)
        </td>
        <td>
            @Html.DisplayFor(model => model.Tie)
        </td>
        <td>
            @Html.DisplayFor(model => model.FPTotal)
        </td>
    </tr>
    

</table>

@Html.ActionLink("Available Players", "AvailablePlayers", new { TeamID = Model.FFTeamID }) |
@Html.ActionLink("Remove Players", "RemovePlayers", new { TeamID = Model.FFTeamID }) |
@Html.ActionLink("View Lineup", "ViewPlayersOnTeam", new { TeamID = Model.FFTeamID }) |
@Html.ActionLink("Standings", "ViewTeamsInLeague", new { TeamID = Model.FFTeamID }) |
@Html.ActionLink("Schedule", "Schedule", new { TeamID = Model.FFTeamID }) 