@model IEnumerable<WebApplication1.Models.FFGame>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "CreateSchedule", new { TeamID = ViewBag.TeamID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Week)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeTeamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisTeamID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Week)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeTeamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisTeamID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FFGameID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FFGameID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FFGameID })
        </td>
    </tr>
}

</table>
