@model Dictionary<int,WebApplication1.Models.FFLeague>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.ActionLink("Have a League ID and need to join your league? Click Here", "JoinLeague")
@foreach (var item in Model) {
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => item.Value.FFLeagueName)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Value.NumberOfTeams)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Value.NumberOfDivision)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Value.PlayoffWeekStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Value.QBStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Value.RBStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Value.WRTESame)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Value.WRStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Value.TEStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Value.DEFStart)
            </th>
            <th></th>
        </tr>


        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value.FFLeagueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value.NumberOfTeams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value.NumberOfDivision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value.PlayoffWeekStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value.QBStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value.RBStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value.WRTESame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value.WRStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value.TEStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value.DEFStart)
            </td>
            <td>
                @Html.ActionLink("Team Main Page", "Index", "FFTeams", new { TeamID = item.Key }, null) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Value.FFLeagueID }) |
                @Html.ActionLink("Details", "Details", new { id = item.Value.FFLeagueID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Value.FFLeagueID })
            </td>
        </tr>
    </table>
}
